* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width:960px;
  margin: 50px auto;
  display: flex;
}

.box {
  width: 300px;
  background-color: #EEEEEE;
  margin-right: 30px;
  padding: 10px;
  position: relative;

}

.box:last-child {
  margin-right: 0;
}

.image1 {
  height: 150px;
  background-image: url(img2/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.image2 {
  height: 150px;
  background-image: url(img2/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.image3 {
  height: 150px;
  background-image: url(img2/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color:#fff;
}

.title {
  margin:15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  main {
    width: 90%;
    display: block;
  }

  .box {
    width: 100%;
  }

  .box:nth-child(1) {
    margin: 50px 0 20px;
  }

  .box:nth-child(2) {
    margin: 20px 0 20px;
  }

  .box:nth-child(3) {
    margin-bottom: 50px;
  }

}